# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment
.env

# IDE
.idea/
*.swp
*.swo

# Tailwind build output
theme/static/css/dist/

# Docker
*.log
