{% extends "base.html" %}

{% block title %}Add Category{% endblock %}

{% block content %}
    <h1>Add Category</h1>
    <form action="{% url 'products:add-category' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div>{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit">Add</button>
    </form>
{% endblock %}
