{% extends "base.html" %}

{% block title %}Add Employee{% endblock %}

{% block content %}
    <h1>Add Employee</h1>
    <form action="{% url 'employees:add-employee' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div>{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit">Add</button>
    </form>
{% endblock %}
