{% extends "base.html" %}

{% block title %}Zlagoda{% endblock %}

{% block layout %}
<main class="app-layout">

    {% include "_sidebar.html" %}

    <section id="form-panel" class="panel glass pt-8 pb-6 px-8 max-[480px]:px-5">
        {% if form %}
            {% include "_form_panel.html" %}
        {% elif list %}
        <form method="get" class="flex flex-col flex-1 min-h-0">
            {% include "_list_panel.html" %}
        </form>
        {% else %}
            <div class="flex flex-col items-center justify-center text-center m-auto max-w-md">
                <p class="text-white/90 text-[15px] tracking-[0.5px] leading-relaxed px-2">
                    Click on any menu item to start.
                </p>
            </div>
        {% endif %}
    </section>
</main>
{% endblock %}
